<!doctype html>
<title>Dashboard</title>
{% for k,v in db.items() %}
<div>
    <form action="/" method="post">
        key: {{ k }}, max: {{ v['max'] }} <input type="submit" name="{{ k }}" value="delete this key" />
    </form>
    {% for u,l in v['uid'].items() %}
    <form action="/" method="post">
        |- uid: {{ u }}, last_seen: {{ l }} <input type="submit" name="{{ k }}/{{ u }}" value="delete this uid" />
    </form>
    {% endfor %}
</div>
{% endfor %}
<div>
    <form action="/" method="post">
        <input type="text" name="max" value="10" />
        <input type="submit" name="gen" value="generate key" />
        {{ key }}
    </form>
</div>